// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
* {
    font-family: $font-family-sans-serif;
}
.container {
    margin-top: $header-height + 20px;
    z-index: 2;
    .header {
        h1 {
            font-size: 3em;
            color: #6e6e6e;
        }
    }
    .controller {
        padding: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        * {
            margin: 0 5px;
        }
    }
    .lists {
        .ws-card {
            box-sizing: border-box;
            padding: 10px; 
            &:hover {
                background-color: #eeeeee;
            }
            .ws-lang {
                font-size: 0.8em;
                color: #cccccc;
            }
        }
    }
}
.dropdown-menu {
    background-color: rgba( 255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 3px 0px rgb(172, 172, 172);
    .dropdown-item {
        &:hover {
            background-color: $blue !important;
            color: white;
        }
    }
}
.btn, .form-control, .navbar-toggler {
    border-radius: $border-radius;
    &:focus, &:active {
        box-shadow:  6px 6px 12px #e8e8e8, 
             -6px -6px 12px #ffffff !important;
    }
    
}
.alert {
    background-color: #fff !important;
    border: none !important;
    box-shadow:  6px 6px 12px #e8e8e8, 
             -6px -6px 12px #ffffff !important;
}
.navbar {
    width: 100%;
    height: $header-height !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow:  6px 6px 12px #e8e8e8, 
             -6px -6px 12px #ffffff;
    .navbar-brand {
        font-size: $header-height / 2;
        line-height: $header-height;
    }
    .container {
        min-height: $header-height !important;
    }
    z-index: 4;
}
.card {
    margin: 20px 0;
    border-radius: $border-radius* 10;
    background: white;
    box-shadow:  6px 6px 12px #e8e8e8, 
             -6px -6px 12px #ffffff;
    border: none;
    .card-header {
        background-color: white;
        border-radius: $border-radius* 10;
        border: none;
    }
}
.novmargin {
    //no vertical margin
    margin: 0 auto !important;
}